body { 
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  background-color: #f0f0f0;
  
}

.main_visual{
  background-image: url('Pictures/background.jpg');
  background-size: cover;
  background-position: center top;
}

.main_visual .container{
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  height: 640px;
  
}

#cover{
  margin-top: 68px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: calc(100vh - 300px);

}
#cover h1{
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 70px;
  font-weight: 700;
}

.main_visual .white{
  background-color: #080fdd2b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: multiply;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;/* 縦位置の調整 */
}

#header_list a:hover {
  color: lightgray; /* ホバー時の文字色 */
  text-decoration: underline; /* 下線を追加 */
  text-decoration-color: white; /* 下線の色を白に指定 */
}

ul{
  list-style-type: none;
  padding: 0;
}
#header_list{
  font-size: large;
  display: flex;
  justify-content: center;
  margin: 0 0;
  
}
#header_list a {
  color: white; /* リンクの文字色を白にする */
}

.list_items{
  padding: 10px 30px;

}
.list_items a{
  text-decoration: none;
}
a:link{
  color: black;
}

section{
  margin: 0 auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 16pt;
  text-align: left;
}
.core{
  padding: 20px 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 30pt;
  display: flex;
  align-items: center;/* 縦位置の調整 */
  margin-top: 50px;
}

h2::before,h2::after {
  content: '';
  flex-grow: 1;/* 余白を分け与える */
  height: 5px;
  background: rgb(13, 60, 231);
}

/* 見出しの文字と横棒の間隔を開ける */
h2::before {
  margin-right: 2%;
}

h2::after {
  margin-left: 2%;
}

/*  */
td{
  padding-left: 30px;
}
tr{
  padding: 10px 10px;
}
.work_link{
  width: 100%; /* 幅は100% */
  text-align: center; /* テキストを中央揃え */
  padding-right: 200px; /* 右側に200pxの余白を追加 */
  box-sizing: border-box; /* パディングを幅に含める */

  /* 中央に配置するためのスタイル */
  display: flex; /* フレックスボックスを使用 */
  justify-content: center; /* 水平方向に中央揃え */
  margin-bottom: 70px; /* 下に20pxの余白を追加 */
}
.work_content{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: flex-start; 
}

.work_link a:hover{
  color: black;
  background-color: #fff;
}
.work_link a{
  text-decoration: none;
  color:#fff;
  padding:10px 20px;
  border: 2px solid #000;
  border-radius: 50px;
  background-color: black;
  text-decoration: none;
  transition:all ease 0.3;
}
.work_headline{
  height: 40px;
  display: flex;
  vertical-align: middle;
  /* justify-content: center; */
}
.work_headline h3{
  /* height: 35px; */
  margin: auto auto 0 0;
}
.work_headline p{
  /* height: 35px; */
  margin: auto 0 0 0;
  vertical-align: bottom;
}
.work_text{
  margin: 0 8%;
  width: 50%;
  text-align: left;
}
img{
  margin-top: 10px;
}
.skill_list{
  margin: 0 auto;
}
.skills{
  display: inline-block;
  width: 20%;
  margin: 10px 2%;
  vertical-align: top;
}
main{
  width: 70%;
  margin: 0 auto;
}
footer{
  bottom: 0;
}
#copyright{
  margin: 0;
  font-size: 12px;
  color: lightgray;
  text-align: center;
  background-color: black;
}
@media screen and ( max-width:800px ){
  body { 
      /* display: none; */
      margin: 0px;
      -webkit-text-size-adjust: 100%;
      background-color: #f0f0f0;
  }
      
  }
  
  #cover h1{
      margin-top: 10%;
  }
  nav{
      width: 100%;
  }
  ul{
      list-style: none;
      padding: 0;
  }
  #header_list{
      font-size: large;
      display: flex;
      justify-content: center;
      margin: 0 0;
      
  }
  .list_items{
      padding: 10px 3%;
      
      
  }
  .list_items a{
      text-decoration: none;
  }

  
  section{
      margin: 0 auto;
  }
  table {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      font-size: 13pt;
      text-align: left;
  }
  .core{
      padding: 20px 20px;
      text-align: center;
  }
  h2{
      text-align: center;
      font-size: 30pt;
      display: flex;
      align-items: center;/* 縦位置の調整 */
      margin-top: 50px;
  }
  
  h2::before,h2::after {
      content: '';
      flex-grow: 1;/* 余白を分け与える */
      height: 3px;
      background: rgb(0, 73, 128);
  }
  
  h2::before {
      margin-right: 2%;
  }
  
  h2::after {
      margin-left: 2%;
  }
  
  td{
      padding-left: 30px;
  }
  tr{
      padding: 10px 10px;
  }
  .skill_list{
      margin: 0 auto;
  }
  .skills{
      display: flex;
      flex-flow: column;
      width: 100%;
      margin: 10px 2%;
      vertical-align: top;
  }
  .skills img{
      width: 64px;
      align-items: flex-start;
      margin: 0 auto  ;
  }
  .work_headline{
      display: contents;
  }
  .work_content{
      display: flex;
      flex-flow: column;
      margin-bottom: 20px;
      align-items: flex-start; 
  }
  .work_content img{
      margin:5px auto;
  }
  .work_link{
    padding-right: 0;
  }
  .work_content p:not(.work_link){
      margin: 0 auto;
      text-align: center;
  }
  .work_content h3{
      margin: 0 auto;
      text-align: center;
  }
  .work_text{
      /* width: 90%;
      text-align: center;
      margin: 0 auto; */
      display: contents;
  }
  main{
      width: 100%;
      margin: 0 auto;
  }
